
# Azure OpenAI (if using Azure OpenAI)
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=

# Gemini
GEMINI_API_KEY=

# LlamaParse
LLAMAPARSE_API_KEY=